In [1]:
import pandas as pd

In [2]:
iris_df = pd.read_csv("Iris.csv")

In [3]:
iris_df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [4]:
iris_df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

## Handling Data Normalization

1. Min-Max Normalization

In [8]:
min_length= iris_df.SepalLengthCm.min()
max_length= iris_df.SepalLengthCm.max()

norm_length = (iris_df.SepalLengthCm-min_length)/(max_length-min_length)

In [9]:
norm_length.describe()

count    150.000000
mean       0.428704
std        0.230018
min        0.000000
25%        0.222222
50%        0.416667
75%        0.583333
max        1.000000
Name: SepalLengthCm, dtype: float64

In [10]:
#using Sklearn
from sklearn.preprocessing import MinMaxScaler

In [13]:
minmax_scale = MinMaxScaler()
norm_data = minmax_scale.fit_transform(iris_df[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]])

In [14]:
pd.DataFrame(norm_data,columns = ["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]).describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        0.428704      0.439167       0.467571      0.457778
std         0.230018      0.180664       0.299054      0.317984
min         0.000000      0.000000       0.000000      0.000000
25%         0.222222      0.333333       0.101695      0.083333
50%         0.416667      0.416667       0.567797      0.500000
75%         0.583333      0.541667       0.694915      0.708333
max         1.000000      1.000000       1.000000      1.000000